# Google Gemini (pre generovanie rozprávok)
GOOGLE_GEMINI_API_KEY=AIzaSyDIG4aXPJkbcw3pYu9RmBgiZMFv9uqzPOY

# Supabase (ukladanie príbehov)
NEXT_PUBLIC_SUPABASE_URL=https://itvribtuzvtjtppxpxfz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dnJpYnR1enZ0anRwcHhweGZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNzAzODcsImV4cCI6MjA4Nzg0NjM4N30.KH_VtzkS_9ChnNAY6QC8seKs32MFEjoXGmGEzCWFmVw
